{% load static %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'library/Datatables/css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'library/jquery-ui-1.12.1/jquery-ui.min.css' %}">
	<link rel="stylesheet" href="{% static 'library/Bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'library/OwlCarousel/assets/owl.carousel.min.css' %}">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
	<!-- <link rel="stylesheet" href="{% static 'library/OwlCarousel/assets/owl.theme.default.min.css' %}"> -->